<!doctype html>
<html class="no-js" lang="en" ng-app="mediaLibrary">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Media Library</title>

  <!-- FOUNDATION -->
  <link rel="stylesheet" href="resources/css/vendor/foundation.min.css" />

  <!-- CSS -->
  <link rel="stylesheet" href="resources/css/style.css" />

  <!-- JavaScript -->
  <script src="resources/js/vendor/modernizr.js"></script>
  <script src="resources/js/vendor/angular.min.js"></script>

</head>
<body>
  
  <div ng-controller="BookController">    
    <div class="row">
      <div class="large-12 columns">
        <h1>Media Library</h1>
      	<div class="panel">
	        <h3>Add your books to the library!</h3>

	        <form>

            <div class="row">
              <div class="medium-3 columns">
                <input type="text" placeholder="Title">
              </div>
              <div class="medium-3 columns">
                <input type="text" placeholder="Author">
              </div>
              <div class="medium-3 columns">
                <input type="text" placeholder="Series">
              </div>
              <div class="medium-3 columns">
                <input type="text" placeholder="Language">
              </div>
            </div><!-- .row -->

            <div class="row">
              <div class="small-12 medium-5 large-5 columns">
                <input type="text" placeholder="ISBN">
              </div>

              <div class="small-9 medium-5 large-5 columns">
                <div class="row">
                  <div class="small-5 medium-4 columns text-right">Hardcover</div>
                  <div class="small-3 medium-4 columns">
                    <div class="switch tiny centered">
                      <input type="checkbox" name="format" value="isPocket" id="isPocket"><label for="isPocket"></label>
                    </div>
                  </div>
                  <div class="small-4 medium-4 columns">Pocket</div>
                </div><!-- .row -->
              </div>

              <div class="small-3 large-2 columns">
                <button class="button tiny save">Save</button>
              </div>
            </div><!-- .row -->
          </form>
        </div><!-- .panel -->


          <!-- Search/filter -->
          <div class="row">
            <div class="medium-6 medium-centered columns">
              <input type="text" placeholder="Search ...">
            </div>
          </div><!-- .row -->


          <!-- Data -->
          <div class="row">

            <div class="small-6 medium-5 medium-offset-2 columns">
              <h3>Title</h3>
              <div ng-repeat="book in books">
                <span class="book-title">{{book.title}}</span>
              </div>
            </div>

            <div class="small-6 medium-5 columns">
              <h3>Author</h3>
              <div ng-repeat="book in books">
                <span class="book-author">{{book.author}}</span>
              </div>
            </div>
          </div><!-- .row -->
      </div><!-- .large-12 columns -->
    </div><!-- .row -->

</div><!-- . -->

  <script src="resources/js/vendor/jquery.js"></script>
  <script src="resources/js/vendor/foundation.min.js"></script>
  <script src="resources/js/app.js"></script>

  <script src="resources/js/controllers/BookController.js"></script>
  <script src="resources/js/classes/Media.js"></script>
  <script src="resources/js/classes/Book.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
