/* Backgrounds */
/* Text */
body {
  background-color: #f8f8f8;
}
.panel {
  background-color: #aac9bc;
}
.save {
  background-color: #006700;
}
.separator {
  border-top: 1px solid #8d7168;
  width: 100%;
  padding: 0.5em;
}
