@import "colors.less";

body {
	background-color: @main-bg;
}

.panel {
	background-color: @panel-bg;
}

.save {
	background-color: @save-btn;
}

.separator {
	border-top: 1px solid @separator;
	width: 100%;
	padding: 0.5em;
}

.centered {
	margin: 0 auto;
	width: 50%;
}

/*.switch {
	.small { 
		label {
			width: 5em;
		}
	}
}*/

/* Debugging */
.columns {
	/*outline: 1px solid red;*/
}